=form_tag('update')
%h1 Modification des paramètres de révision
%p

%h2 Vocabulaire

Compteur
=number_field_tag('voc_compteur_min',value = @voc_compteur_min)
Date de création
= select_date Date.parse(@voc_date_min), prefix: :voc_date_min
=hidden_field_tag 'voc_nb', value = @voc_nb
Nombre =
-if @voc_nb == 0
  #erreur=@voc_nb
-else
  =@voc_nb
%br

%h2 Conjugaison

Compteur
=number_field_tag('conj_compteur_min',value = @conj_compteur_min)
Date de création
= select_date Date.parse(@conj_date_min), prefix: :conj_date_min
=hidden_field_tag 'conj_nb', value = @conj_nb
Nombre =
-if @conj_nb == 0
  #erreur=@conj_nb
-else
  =@conj_nb
%br
%br
#erreur=@avert
%br
=button_tag 'Enregistrer'
