=form_tag('/verification')

%h1 Question


=hidden_field_tag 'id', value = params[:id]
=hidden_field_tag 'infinitif', value = params[:infinitif]
=hidden_field_tag 'attendu', value = params[:attendu]
=hidden_field_tag 'question', value = params[:question]
=hidden_field_tag 'forme', value = params[:forme]

-if params[:message] == nil
  %br
-elsif params[:message]
  #bravo Bravo !
-else
  #erreur Erreur ! La réponse attendue est #{params[:attendu]}.

%br
=params[:forme]+' '+params[:infinitif]
=text_field_tag 'reponse', '', autofocus: true, disabled: params[:message] != nil

-if params[:message] == nil
  =button_tag 'Vérifier'
-else
  =button_tag 'Autre question', autofocus: true
