%header#page_header
  =link_to 'Vocabulaire', vocabulaires_path \
  =link_to 'Conjugaison', conjugaisons_path \
  =link_to 'Révision', lance_questions_path \
  =link_to 'Révision du vocabulaire', questions_vocabulaire_path \
  =link_to 'Révision des conjugaisons', questions_conjugaison_path
